setuptools-rust==1.1.2
ansible==4.10.0
ansible-core==2.11.8
bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
passlib==1.7.4
pycparser==2.21
pyparsing==3.0.7
PyYAML==6.0
resolvelib==0.5.4
six==1.16.0
